.managers {
    background: url(../img/managers_bg.png) center center / cover;
    min-height: 340px;
    padding: 55px 0 70px 0;
    color: #fff;
    text-align: center;
    &__icon {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    &__title {
        margin-top: 15px;
        font-size: 20px;
    }
    &__text {
        margin-top: 15px;
    }
}