@media (min-width: 1201px) {
    .deli {
        display: none;
    }

    
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__nav {
            display: none;
        }
        &__items {
            justify-content: center;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    .benefits__mushroom {
        justify-content: center;
        grid-template-columns: 500px;
    }
    .benefits__item {
        justify-content: center;
    }
    .work__super {
        justify-content: space-around;
    }
    .work__item {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header__effects {
        width: 100%;
    }
    .header__items {
        justify-content: space-evenly;
        flex-wrap: wrap;
        .header__item {
            margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    
    .header__top {
        flex-direction: column;
        height: 300px;
    }
    .header__title {
        margin-top: 5px;
    }
    .benefits__mushroom {
        justify-content: center;
        grid-template-columns: 350px;
    }
}