@media (min-width: 1201px) {
    .deli {
        display: none;
    }

    
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__nav {
            display: none;
        }
        &__items {
            justify-content: center;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    .benefits__mushroom {
        justify-content: center;
        grid-template-columns: 500px;
    }
    .benefits__item {
        justify-content: center;
    }
    .work__super {
        justify-content: space-around;
    }
    .work__item {
        margin-top: 20px;
    }
    .price__items {
        width: 600px;
        justify-content: space-around;
        margin: 0px auto 0 auto;
    }
    .price__item {
        margin-top: 30px;
    }
    .scheme__flex1, .scheme__flex2 {
        justify-content: center;
    }
    
    .scheme__item {
        width: 445px;
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header__effects {
        width: 100%;
    }
    .header__items {
        justify-content: space-evenly;
        flex-wrap: wrap;
        .header__item {
            margin-top: 15px;
        }
    }
    .price__inputs {
        flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
        input {
            margin-top: 15px;
        }
    }
    .scheme__flex2 {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .price__items {
        width: 300px;
    }
    
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    
    .header__top {
        flex-direction: column;
        height: 300px;
    }
    .header__title {
        margin-top: 5px;
    }
    .benefits__mushroom {
        justify-content: center;
        grid-template-columns: 350px;
    }
    .price__items {
        width: 250px;
    }
    .price__inputs {
        input {
            width: 200px;
        }
    }
    .scheme__flex2 {
        width: 300px;
    }
    
}
