.scheme {
    background-color: #f3f3f3;
    min-height: 450px;
    padding: 50px 0;
    &__title {
        text-align: center;
        margin-bottom: 40px;
    }
    &__item {
        width: 250px;
        margin-top: 20px;
        &-icon {
            display: block;
            width: 50px;
            margin: 0 auto;
        }
        &-heading {
            text-align: center;
            color: $color;
        }
        &-des {
            text-align: center;
        }
    }
    &__flex1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__flex2 {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 950px;
        margin: 0 auto;
    }

    
}